@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%; /* Pastikan body dan html penuh */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #004803, #75de64);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.register-card {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    padding: 30px;
    max-width: 450px;
    max-height: 90vh;
    width: 100%;
}

.sub-judul {
    color: #004803;
    font-weight: bold;
    font-size: 20px;
}

.judul {
    color: #004803;
    font-weight: bold;
    font-size: 24px;
}

.username-input,
.password-input,
.name-input,
.confirm-password-input {
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 12px;
    font-size: 16px;
    color: #000;
    width: 100%;
}

.username-input::placeholder,
.password-input::placeholder,
.name-input::placeholder,
.confirm-password-input::placeholder {
    color: #838383;
}

.username-input:focus,
.password-input:focus,
.name-input:focus,
.confirm-password-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.btn {
    background: linear-gradient(to right, #004803, #75de64);
    border-radius: 30px;
    font-weight: 700;
    color: white;
    font-size: 16px;
}

button:hover {
    background: linear-gradient(to right, #004803, #75de64);
    box-shadow: 0 4px 12px rgba(40, 167, 69, 0.4);
}

/* Responsiveness */
@media (max-width: 768px) {
    .register-card {
        padding: 20px;
    }

    .form-group input {
        padding: 10px;
        font-size: 14px;
    }

    .btn {
        font-size: 16px;
    }
}
